:root {
  --background-primary: #1a191d;
  --background-secondary: #201f23;
  --primary: #450e7b;
  --secondary: #9169f3;
  --blue: #5fc7da;
  --gradient: ;
  --font-color-primary: #ffffff;
  --font-color-secondary: #b6b6b6;
  --title: bold 36px/1.5 "Archivo", sans-serif;
  --text-destaque: bold 40px/1.5 "Archivo", sans-serif;
  --sub-title: 500 18px/1.5 "Archivo", sans-serif;
  --nav-link-font: 600 16px/1.5 "Archivo", sans-serif;
  --text: regular 14px/1.5 "Archivo", sans-serif;
  --shadow-navbar: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* geral */
body {
  font-family: "Archivo", sans-serif;
  background-color: var(--background-primary);
}

h1 {
  font: var(--title);
  color: var(--font-color-primary);
}
h2 {
  font: var(--sub-title);
  color: var(--font-color-primary);
}
p {
  font: var(--text);
  color: var(--font-color-secondary);
}

/*menu*/
.navbar{
  background-color: var(--background-primary);
  box-shadow: var(--shadow-navbar);
  min-height: 65px;
}
.container{
  justify-content: space-around;
  
}
.button{
  background-color: transparent;
  border: none;
}
.navbar-nav{
  display: flex;
  gap: 25px;
}
.nav-link{
  color: var(--font-color-primary);
  font: var(--nav-link-font);
}
.nav-link:hover{
  color: var(--font-color-primary);
}
.nav-item {
  font: var(--nav-link-font);
  position: relative;
  max-width: 180px;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--blue);
  transition: width 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
  max-width: 185px;
  justify-content: center;
  align-items: center;
  display: flex;
}
