:root {
  --background-primary: #1a191d;
  --background-secondary: #201f23;
  --primary: #450e7b;
  --secondary: #9169f3;
  --blue: #5fc7da;
  --gradient: ;
  --font-color-primary: #ffffff;
  --font-color-secondary: #b6b6b6;
  --title: bold 36px/1.5 "Archivo", sans-serif;
  --text-destaque: bold 40px/1.5 "Archivo", sans-serif;
  --sub-title: 500 18px/1.5 "Archivo", sans-serif;
  --nav-link-font: 600 16px/1.5 "Archivo", sans-serif;
  --text: regular 14px/1.5 "Archivo", sans-serif;
  --shadow-navbar: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* geral */
body {
  font-family: "Archivo", sans-serif;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color-primary);
}
p {
  font: var(--text);
  color: var(--font-color-secondary);
}

/*menu*/
.navbar {
  background-color: var(--background-primary);
  box-shadow: var(--shadow-navbar);
  min-height: 65px;
}
.button {
  background-color: transparent;
  border: none;
}
.navbar-nav {
  display: flex;
  gap: 25px;
}
.nav-link {
  color: var(--font-color-primary);
  font: var(--nav-link-font);
}
.nav-link:hover {
  color: var(--font-color-primary);
}
.nav-item {
  font: var(--nav-link-font);
  position: relative;
  max-width: 180px;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--blue);
  transition: width 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
  max-width: 185px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.nav-item.active::after {
  width: 100%;
  max-width: 185px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* footer */
footer {
  box-shadow: var(--shadow-navbar);
  padding: 15px 0px;
}
.footer-list {
  display: flex;
  gap: 20px;
}
.footer-icon {
  width: 20px;
  height: 20px;
}
.footer-item {
  background-color: var(--primary);
  width: 30px;
  height: 30px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*página inicial*/
main {
  padding: 20px 0;
}
.text-destaque {
  color: var(--secondary);
}
.title {
  max-width: 682px;
}
.sub-title {
  color: var(--font-color-secondary);
  margin-bottom: 20px;
  max-width: 522px;
}
.button-curriculo {
  background-color: var(--primary);
  border-radius: 6px;
  border: none;
  transition: all 0.5s ease;
  display: inline-block;
  width: 100%;
  max-width: 110px;
  height: 100%;
  max-height: 30px;
  margin-bottom: 30px;
}
.button-curriculo:hover {
  background-color: var(--secondary);
}
.link-curriculo {
  font-size: 12px;
  color: var(--font-color-primary);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: all 0.5s ease;
}
.button-curriculo:hover .link-curriculo {
  color: #1a191d;
  font-weight: 700;
}
.circle-profile-one {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary);
  border-radius: 50%;
}

.circle-profile-two {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--blue);
  border-radius: 50%;
}

.profile-img {
  width: 180px;
  border-radius: 50%;
}

/*Formação*/
.formacoes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.formacao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.curso {
  display: flex;
  align-items: center;
  gap: 10px;
}
.curso-name{
  margin-bottom: 0rem;
}
.instiuicao-name{
  color: var(--blue);
  font-size: 14px;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
}
.container-formacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* página de atuação profissional*/
.atuacoes{
  flex-wrap: wrap;
  gap: 20px;
}
.atuacao-profissional {
  width: 240px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #201f23;
  border-radius: 5px;
}
.atuacao-profissional::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(140deg, #450E7B, #5FC7DA);
  z-index: -1;
  border-radius: 6px;
  margin: -3px;
}
.atuacao-profissional-icon{
  width: 110px;
}

/*Página Projetos*/
.title-projetos{
  margin: 30px 0px 50px 0px;
}
.projeto{
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 440px;
  padding: 20px;
  border-radius: 6px;
}
.projeto-img{
  width: 250px;
  border-radius: 6px;
}
.tecnologias{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tecnologia-icon{
  width: 20px;
}
.buttons{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.projeto-button{
  background-color: var(--primary);
  padding: 0px 20px;
  color: white;
  border: none;
  border-radius: 6px;
}
.projeto-button {
  background-color: var(--primary);
  border-radius: 6px;
  border: none;
  transition: all 0.5s ease;
  display: inline-block;
  width: 100%;
  max-width: 110px;
  height: 100%;
  max-height: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  color: var(--font-color-primary);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: all 0.5s ease;
}
.projeto-button:hover {
  background-color: var(--secondary);
  color: #1a191d;
  font-weight: 700;
}
.link-projeto {
  font-size: 12px;
  color: var(--font-color-primary);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: all 0.5s ease;
}
.projeto-button:hover .link-projeto {
  color: #1a191d;
  font-weight: 700;
}
.about{
  margin-bottom: 0rem;
}
#alertaContainer, #alertaContainerGithub {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(58, 58, 58) 0px 5px 15px;
}
#alerta{
  display: flex;
  justify-content: center;
  align-items: center;
}
#alertaContainer.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#alertaContainerGithub.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#esconderAlerta, #esconderAlertaGithub{
  position: absolute;
  top: -10px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--font-color-primary);
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
}
.text-alert{
  color: var(--font-color-primary);
  text-align: center;
  max-width: 200px;
  margin-bottom: 0rem;
}
.projetos{
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 766px) {
  .col-md-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
